@font-face
{
  font-family: "Segoe UI";
  src: url("segoeui.ttf") format("truetype");
}

@font-face
{
  font-family: "Segoe UI Light";
  src: url("segoeuil.ttf") format("truetype");
}

body {
  background-color: #FFFFFF;
  font-family: 'Segoe UI Light';
  color: #5EA0EC;
  font-size: 10pt;
}

.hide {
  display: none;
}

.borderless td, .borderless th {
  border: none;
}

.top-buffer {
  margin: 0 auto;
}

.logo {
  margin: 5px;
  vertical-align: text-bottom;
  height: 30px;
  width: 90px;
}

.loadingContainer {
  vertical-align: middle;
  padding-top: 5%;
  padding-bottom: 5%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Segoe UI Light';
  text-align: center;
  color: #416895;
}

.narrative {
  padding-top: 10px;
  min-height: 100px;
  text-align: justify;
}
