{% extends "base.html" %}
{% block body %}
<div style="margin-top: 10px; overflow: hidden;" class="container-fluid" style="max-width: 970px;">
    <div class="row" >
        <div class="col-sm-3">
            <div class="gray-border">
            <div class="row ">
                <div class="col-sm-12 content-title m-2">Dashboard Summary</div>
            </div>
            <div class="row" id="contentContainer">
                <div class="col-sm-12 narrative ml-2 pr-4" id="content"></div>
            </div>
            <div class="row loadingContainer" id="content">
                <div class="col-sm-12" align="center">Wordsmithing...</div>
            </div>
            <div class="well logo-container">
                <div class="mx-1">
                    <a href="https://automatedinsights.com/wordsmith" target="_blank">
                        <img class="logo" src=/static/img/ai_logo.png />
                    </a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-sm-9">
            <table class="table borderless">
                <tbody>
                    <tr><td><div id="tableauViz"></div></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}