{% extends "base.html" %}
{% block body %}
  <div style="border: none;" class='page-header'>
    <div style="padding-right: 10px;" class='float-sm-right'>
        <div class="btn-group-vertical">
          <a href="https://automatedinsights.com/wordsmith" target="_blank"><img class="logo" src={{ url_for('static', filename='img/ai_logo.png') }} /></a>
        </div>
    </div>
    <div class="float-sm-none" id="titles">
      <h2 style="font-size: 48px; margin-top: 25px;" id="page-title">{{ title }}</h2>
    </div>
  </div>
  <div style="margin-top: 10px; overflow: hidden;" class="container-fluid">
    <table class="table borderless" style="max-width: 767px; margin: 0px auto">
        <tbody>
            <tr><td>
              <div class="row" id="contentContainer">
                  <div class="col-sm-12 narrative" id="content"></div>
              </div>
              <div class="row loadingContainer" id="content">
                  <div class="col-sm-12" align="center">Wordsmithing...</div>
              </div>
            </td></tr>
            <tr><td><div id="tableauViz"></div></td></tr>
        </tbody>
    </table>
  </div>
{% endblock %}